.settings
target
.classpath
.project
.src\main\java\persistencia\Conexion.java
.src\main\java\META-INF\persistence.xml

.src/main/java/persisntencia/Conexion.java
.src/main/java/META-INF/persistence.xml

.bin

